body {
    font-size: 36pt;
    background-image: url("background2.png");
    background-repeat: no-repeat;
}

a {
    color: white;
    text-decoration: none;
}

div {
    box-sizing: content-box;
    border: solid white 3px;
    background-color: none;
    opacity: 1.0;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
}

#klick1 {
    display: block;
    margin-top: 325px;
    margin-bottom: 65px;
    margin-left: 600px;
}

#klick1:hover {
    box-sizing: content-box;
    line-height: 100px;
    padding-left: 65px;
    padding-bottom: 65px;
    margin-bottom: 0px;
    animation-name: expand;
    animation-duration: 2s;
}

#klick2 {
    display: block;
    margin-left: 120px;
    margin-bottom: 65px;
}

#klick2:hover {
    box-sizing: content-box;
    line-height: 100px;
    padding-left: 65px;
    padding-bottom: 65px;
    margin-bottom: 0px;
    animation-name: expand;
    animation-duration: 2s;
}

#klick3 {
    display: block;
    margin-left: 650px;
}

#klick3:hover {
    box-sizing: content-box;
    padding-left: 65px;
    padding-bottom: 65px;
    animation-name: expand;
    animation-duration: 2s;
}

@keyframes expand {
    from {padding-left: 0px; padding-bottom: 0px; margin-bottom: 65px;}
    to {padding-left: 65px; padding-bottom: 65px; margin-bottom: 0px}
}