body {
    color: white;
    font-size: 24pt;
    background-image: url("background2.png");
}

#klick1{
    display: block;
    margin-top: 310px;
    margin-left: 550px;
}

#klick2 {
    display: block;
    margin-top: 75px;
    margin-left: 100px;
}

#klick3 {
    display: block;
    margin-top: 100px;
    margin-left: 600px;
}