body {
    font-size: 36pt;
    background-image: url("background2.png");
    background-repeat: no-repeat;
}

div.wrapper {
    display: flex;
    box-sizing: content-box;
    border: solid white 3px;
    opacity: 0.75;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

div.wrapper > div.centre {
    height: 10px;
    width: 10px;
    background-color: white;
    margin: auto;
    border-radius: 50%;
}

div.wrapper:hover {
    animation-name: expand;
    animation-duration: 1s;
}

#klick1 {
    margin-top: 325px;
    margin-bottom: 65px;
    margin-left: 600px; 
}

#klick2 {
    margin-left: 120px;
    margin-bottom: 65px;
}

#klick3 {
    margin-left: 650px;
}

@keyframes expand {
    from {height: 35px; width: 35px; margin-bottom: 65px;}
    to {height: 100px; width: 100px; margin-bottom: 0px;}